body{
    background-color: hsl(0, 0%, 100%);
    color: darkslateblue;
    margin: 5px;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif
}
header
footer {
    text-align: center;
    background-color: gainsboro;
}
h1{
    color: black;
    
    font-size: 38px;
}

h3{
        color: rgb(61, 125, 243);
 }
h4{
            color: rgb(5, 202, 252); 
}
p{
    text-align: justify;
    text-indent: 8ch;
}
.bottom-left {
    position: absolute;
    top: 8px;
    right: 16px;
}